[data-theme="dark"] {
  --bg: #0a192f;
  --bg-light: #112240;
  --bg-lightest: #233554;

  --text: #ccd6f6;
  --text-light: #a8b2d1;
  --muted: #8892b0;

  --accent: #64ffda;
  --border: #233554;

  color-scheme: dark;
}
