/* LAYOUT */

.container {
  max-width: 1000px;
  margin: auto;
  padding: 0 25px;
}

.section {
  padding: 100px 110px;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1080px) {
  .section {
    padding: 100px 100px;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 80px 50px;
  }
}

@media (max-width: 480px) {
  .section {
    padding: 60px 25px;
  }
}

@media (max-width: 380px) {
  .section {
    padding: 50px 20px;
  }
}

/* NUMBERED HEADINGS */

.numbered-heading {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0 40px;
  width: 100%;
  font-size: clamp(26px, 5vw, var(--fz-heading));
  white-space: nowrap;
  color: var(--text);
  font-weight: 600;
}

@media (max-width: 480px) {
  .numbered-heading {
    font-size: clamp(22px, 5vw, 26px);
    margin: 10px 0 30px;
  }
}

@media (max-width: 380px) {
  .numbered-heading {
    font-size: clamp(20px, 5vw, 24px);
    margin: 10px 0 25px;
  }
}

.heading-number {
  position: relative;
  bottom: 4px;
  counter-increment: section 1;
  margin-right: 10px;
  color: var(--accent);
  font-family: var(--font-mono);
  font-size: clamp(var(--fz-md), 3vw, var(--fz-xl));
  font-weight: 400;
}

@media (max-width: 480px) {
  .heading-number {
    font-size: clamp(var(--fz-sm), 3vw, var(--fz-md));
    margin-right: 8px;
  }
}

.numbered-heading::after {
  content: "";
  display: block;
  position: relative;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--bg-lightest);
}

@media (max-width: 768px) {
  .numbered-heading::after {
    width: 200px;
    margin-left: 15px;
  }
}

@media (max-width: 480px) {
  .numbered-heading::after {
    width: 100px;
    margin-left: 10px;
  }
}

@media (max-width: 380px) {
  .numbered-heading::after {
    width: 80px;
  }
}
